html {
    position: absolute;
}
body {
    margin: 0px;
}
main {
    margin: 0px 40px;
    position: relative;
    top: 150px;
}
header {
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 40%);
    background-color: rgb(255 255 255 / 40%);
    backdrop-filter: blur(6px);
    z-index: 1;
    padding: 0px 100px;
}
.list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    text-align: center;
    margin: 4px 0;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 230px;
    text-align: center;
}
ul {
    list-style: none;
}
li:hover {
  color: rgb(255    79    0);
}
#contactMe {
  width: 90px;
} 