:root {
    --background-rgb: 255 255 255;
    --orange-rgb: 255 79 0;
    font-family: "Space Mono", serif;
    font-weight: 100;
    font-style: normal; 
}
/* Literally just to remove a single margin on left side lol */
body {
    margin: 0px;
    padding: 0px;
    background: rgb(var(--background-rgb)); 
    overflow-x: hidden;
    min-height: 100vh; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    margin: 0px 20%;
    position: relative;
    top: 140px;
}

/* ----------------
    Header things 
------------------*/
header {
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 40%);
    background-color: rgb(255 255 255 / 40%);
    backdrop-filter: blur(6px);
    z-index: 10;
    padding: 0px 30px;
}
.list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    text-align: center;
    margin: 15px 0;
}
#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px;
    text-align: center;
}
ul {
    list-style: none;
}
li:hover {
    color: rgb(var(--orange-rgb));
}
#contactMe {
    width: 180px;
}

/* ---------------------------
Presentation card things
----------------------------*/
article:first-child {
    position: relative;
    width: 90%;
    max-width: 600px;
    z-index: 1; 
    
}
.contacts {
    display: flex;
    z-index: 10;
    gap: 20px
    
}
#presentationCard {
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows:  30% 25% 1fr;
    align-items: center;
    height: 200px;
}
#myName {
    grid-column: 1 / span 3;
    font-size: 3em;
    margin: 0;
}
#backendDev {
    margin: 0;
    grid-column: 1 / span 2;
    align-self: self-start;
    
}
section {
    grid-column: 1 / -1;
    align-self: flex-start;
}
/* Credits to Hyperplexed on YT and my brother for helping me on this nightmare */
#container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(90, 1fr);
    grid-template-rows: repeat(16, 1fr);
    z-index: 0;
}

.tile {
    border: 1px solid rgb(0 0 0 / 15%);
    transition: background-color 1500ms;
    height: 1.5rem;
    width: 1.5rem;
}
.tile:hover {
    background-color: rgb(var(--orange-rgb));
    transition-duration: 0ms;
}
#articleProjects{
    margin: 3vh 0;
}
#Projects {
    display: flex;
    top: 10vh;
    width: 500px;
    gap: 20%;
}
.projectShow {
    box-sizing: content-box;
    display: block;
    border: 1px #79797959 solid;
    border-radius: 10px;
    height: 30vh;
    width: 90%;
    padding: 10px;
}
#projectsTitle {
    margin-bottom: 3vh;
}
article:nth-child(3) {
    width: 500px;
}
footer {
    position: relative;
    margin-top: 50px;
    text-align: center;
    border-top: 1px #79797959 solid;
    padding: 20px;
    font-size: 0.7rem;
}
