:root {
    --background-rgb: 255 255 255;
    --orange-rgb: 255 79 0;
    font-family: "Space Mono", serif;
    font-weight: 100;
    font-style: normal; 

    --bar-width: 25px;
    --bar-height: 5px;
    --hamburger-gap: 4px;
    --foreground: #333;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

body {
    margin: 0px;
    padding: 0px;
    background: rgb(var(--background-rgb)); 
    overflow-x: hidden;
    min-height: 100vh; 
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    margin: 0px 25%;
}
/* --------------------------------------------------
                    Header things 
-----------------------------------------------------*/
.header {
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 40%);
    background-color: rgb(255 255 255 / 40%);
    backdrop-filter: blur(6px);
    z-index: 10;
    padding: 0px 30px;
}
.list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    text-align: center;
    margin: 15px 0;
}
.list li a {
    text-decoration: none; 
    color: black;
}
#info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0px;
    text-align: center;
}
ul {
    list-style: none;
}
#contactMe {
    width: 180px;
}
.hamburger-menu {
    display: none;
}
#endiablao{
    display: none;
}
/* --------------------------------------------------
                    Main things 
-----------------------------------------------------*/
.aboutMe {
    position: relative;
    top: 11vh;
}
.introduction p {
    margin: 2vh 0;
}
.experience {
    position: relative;
    top: 15vh;
}
.titleExp {
    margin: 3vh 0;
}
/* --------------------------------------------------
                Experience article 
-----------------------------------------------------*/
.experienceList {
    border-inline-start: 1px solid #79797959;
    list-style: none;
    position: relative;
}
.experienceItemList {
    padding: 0 0 6vh 15px;
}
.experienceItemList:nth-child(2) {
    padding: 0 0 0 15px;
}
.decorativeCircle {
    height: 10px;
    width: 10px;
    background-color: #afafaf;
    border-radius: 100%;
    position: absolute;
    left: -5px;
    margin-top: 8px;
}
span {
    color: rgb(87, 87, 87);
    font-weight: lighter; 
    font-size: 0.7rem;
    
}
.experienceItemList li:first-child {
    margin-top: 1vh;
}
/* --------------------------------------------------
                Education article 
-----------------------------------------------------*/
.education {
    margin-top: 50px;
    position: relative;
    top: 20vh;
    text-align: end;
}
footer {
    position: relative;
    top: 200px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px #79797959 solid;
    padding: 20px;
    font-size: 0.7rem;
}
/* --------------------------------------------------
                Education article 
-----------------------------------------------------*/
.education {
    margin-top: 50px;
    position: relative;
    top: 20vh;
}
footer {
    position: relative;
    top: 200px;
    margin-top: 50px;
    text-align: center;
    border-top: 1px #79797959 solid;
    padding: 20px;
    font-size: 0.7rem;
}
.experienceList2 {
    border-inline-end: 1px solid #79797959;
    list-style: none;
    position: relative;
}
.experienceItemList2 {
    padding: 0 15px 6vh 0;
}
.experienceItemList2:nth-child(2) {
    padding: 0 15px 6vh 0;
}
.experienceItemList2:nth-child(3) {
    padding: 0 15px 0 0;
}
.decorativeCircle2 {
    height: 10px;
    width: 10px;
    background-color: #afafaf;
    border-radius: 100%;
    position: absolute;
    right: -5px;
    margin-top: 8px;
}
/*-------------------------------------------------------
                        transitions
---------------------------------------------------------*/
.list li a:hover {
    color: rgb(var(--orange-rgb));
    transition: color 0.2s ease-in-out;
}
.experienceItemList:hover .decorativeCircle {
    background-color: #f37521; 
    transform: scale(1.1); 
}
.experienceItemList .decorativeCircle {
    transition: all 0.2s ease-in-out;
}
.experienceItemList2:hover .decorativeCircle2 {
    background-color: #f37521; 
    transform: scale(1.1); 
}
.experienceItemList2 .decorativeCircle2 {
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 460px) {
    body {
        font-size: 0.9rem;
    }
    main {
        margin: 0px 5%;
    }

}
@media screen and (max-width: 768px) {
    main {
        margin: 0px 10%;
    }
    .header {
        display: none;
    }
/*-------------------------------------------------------
                    hamburguer menu
---------------------------------------------------------*/
    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
    .hamburger-menu {
      --x-width: calc(var(--hamburger-height) * 1.41421356237);
    
      display: flex;
      flex-direction: column;
      gap: var(--hamburger-gap);
      width: max-content;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 100;
      cursor: pointer;
    }
    
    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
      border: 1px solid var(--background);
      box-shadow: 0 0 0 1px var(--foreground);
    }
    
    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
      content: "";
      width: var(--bar-width);
      height: var(--bar-height);
      background-color: var(--foreground);
      border-radius: 10px;
      transform-origin: left center;
      transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
    }
    
    .hamburger-menu input {
      appearance: none;
      padding: 0;
      margin: 0;
      outline: none;
      pointer-events: none;
    }
    
    .hamburger-menu:has(input:checked)::before {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    
    .hamburger-menu:has(input:checked)::after {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }
    
    .hamburger-menu input:checked {
      opacity: 0;
      width: 0;
    }
    
    .sidebar {
      transition: translate var(--animation-timing);
      translate: 0 -68%;
      padding: 20px 30px;
      position: fixed;
      top: 0px;
      box-sizing: border-box;
      width: 100%;
      box-shadow: 0px 3px 3px rgb(0 0 0 / 40%);
      background-color: rgb(255 255 255 / 40%);
      backdrop-filter: blur(6px);
      z-index: 10;
    }
    
    #endiablao li {
        padding: 2px 0;
    }

    #endiablao a {
        text-decoration: none; 
        color: black;
    }

    #endiablao {
        transition: translate var(--animation-timing);
        translate: 0 -100%;
        display: block;
    }

    #endiablao a:hover {
        color: rgb(var(--orange-rgb));
        transition: color 0.2s ease-in-out;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
      translate: 0;
    }

    .hamburger-menu:has(input:checked) + .sidebar #endiablao {
        translate: 0;
    }
}